{{!-- <body style="font-family: 'Nunito', sans-serif"> --}}
    <div class="header">
        <div class="header_logo">
            Shop DOO
        </div>
        <div class="header_menu">
            <ul class="list-item">
                <li>Trang chủ</li>
                <li>Cho nam</li>
                <li>Cho nữ</li>
                <li>Khuyến mại</li>
            </ul>
        </div>
        <div class="nav_bar">
            <div class="nav_bar-user"><i class="fas fa-user"></i></div>
            <div class="nav_bar-search"><i class="fas fa-search"></i></div>
            <div class="nav_bar-cart"><i class="fas fa-shopping-bag"></i></div>
        </div>
    </div>
    <div class="main">
        <div class="main_silder">
            <img src="https://cdn.dribbble.com/users/1118956/screenshots/15467183/media/7d94396075ed340cb2842c8d1f8987c3.jpg" alt="">
        </div>
        <div class="main_him">
            <div class="main_him-title">Đồ dành cho nam</div>
            <div class="list-item-him">
                {{#each listHim}}
                <div class="contaier-item">
                    <div class="item-him">
                        <img src="{{this.path}}" alt="">
                    </div>
                    <div class="item-him_desc">
                        <h3>{{this.nameItem}}</h3>
                        <p>{{this.priceItem}}</p>
                    </div>
                </div>
                {{/each}}
                
            

            </div>
        </div>
        <div class="main_him">
            <div class="main_him-title">Đồ dành cho nữ</div>
            <div class="list-item-him">
                {{#each listHer}}
                <div class="contaier-item">
                    <div class="item-him">
                        <img src="{{this.path}}" alt="">
                    </div>
                    <div class="item-him_desc">
                        <h3>{{this.nameItem}}</h3>
                        <p>${{this.priceItem}}</p>
                    </div>
                </div>
                {{/each}}
                
            </div>
        </div>

    </div>

    <div class="footer">

    </div>
</body>
